#include "unity.h"
#include "mock_hal.h"
#include <string.h>

{# SPI Flash driver file is named after the peripheral instance (e.g. drv_flash.c) #}
{% set spi_flash = peripherals | selectattr('is_spi_flash') | first %}
#include "../src/drivers/drv_{{ spi_flash.name }}.c"

static SPI_HandleTypeDef hspi_inst;

void setUp(void)
{
    /* dummy SPI instance for tests */
}

void tearDown(void)
{
}

void test_spi_flash_init_returns_ok(void)
{
    int ret = spi_flash_init(&hspi_inst);
    TEST_ASSERT_EQUAL_INT(0, ret);
}

void test_spi_flash_init_null_handle(void)
{
    int ret = spi_flash_init(NULL);
    TEST_ASSERT_EQUAL_INT(-1, ret);
}

void test_spi_flash_get_id(void)
{
    uint8_t id[3] = {0};

    /* Init first */
    spi_flash_init(&hspi_inst);

    /* get_id should return 0 when init was successful */
    int ret = spi_flash_get_id(id);
    TEST_ASSERT_EQUAL_INT(0, ret);
}

void test_spi_flash_get_id_null_buffer(void)
{
    spi_flash_init(&hspi_inst);
    int ret = spi_flash_get_id(NULL);
    TEST_ASSERT_EQUAL_INT(-1, ret);
}

int main(void)
{
    UNITY_BEGIN();
    RUN_TEST(test_spi_flash_init_returns_ok);
    RUN_TEST(test_spi_flash_init_null_handle);
    RUN_TEST(test_spi_flash_get_id);
    RUN_TEST(test_spi_flash_get_id_null_buffer);
    return UNITY_END();
}
